<header>
    <h1>Pesrson Of Interest</h1>
    <nav>
        <a routerLink="">Home</a>
        <a routerLink="facesnaps">FaceSnaps</a>
    </nav>
    <button (click)="onAddNewFaceSnap()">+</button>
</header>
