<div class="landing-block">
  <form  #emailForm="ngForm" (ngSubmit)="onSubmitForm(emailForm)">
    <label for ="emailInput">Inscrivez vous !!</label>
    <input type="email" id="emailInput" [(ngModel)]="userEmail" name="userEmail">
    <button type="submit">Let's GO</button>
  </form>
    <img src="assets/snapface.jpg" alt="Snapface logo">
    <div class="landing-links">
      <a routerLink="facesnaps">Continuer vers Snapface</a>
    </div>
  </div>
