<div class="form-card">
  <h2> NEW FACESNAP PLEASE </h2>

  <form [formGroup]="snapForm" >
    <div  class="form-group">
      <label for="title">Titre</label>
      <input type="text" id="title" formControlName="title">
    </div>
    <div  class="form-group">
      <label for="description">DESCRIPTION</label>
      <textarea  id="description" type="text" formControlName="description" rows="4"></textarea>
    </div>
    <div  class="form-group">
      <label for="imageUrl">URL de l'Image</label>
      <input type="text" id="imageUrl" formControlName="imageUrl">
    </div>
    <div  class="form-group">
      <label for="location">LIEU</label>
      <input type="text" id="location" formControlName="location">
    </div>
    <div class="action-buttons">
      <button type="submit" (click)="onSubmitForm()" [disabled] = "snapForm.invalid">ENREGISTRER</button></div>
    <div class="face-snap-card" *ngIf="faceSnapPreview$ | async as  faceSnap" >
        <h2>{{ faceSnap.title | uppercase  }}</h2>
        <p>Mis en ligne le {{ faceSnap.createdDate | date :  'le d MMMM yyyy'}}</p>
        <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
        <p>{{ faceSnap.description }}</p>
        <p>{{ faceSnap.location }}</p>

        <!--<p *ngIf="faceSnap.location=== 'NY' ">Photo prise à {{ faceSnap.location}}</p>-->

    </div>

  </form>
  </div>
